<main role="main">
  <%= if live_flash(@flash, :info) do %>
    <%= render "_success_notif.html", message: live_flash(@flash, :info) %>
  <% end %>

  <%= if live_flash(@flash, :error) do %>
    <%= render "_error_notif.html", message: live_flash(@flash, :error) %>
  <% end %>

  <%= @inner_content %>
</main>
