<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <%= csrf_meta_tag() %>
        <%= live_title_tag assigns[:page_title] || "Butler", suffix: "" %>
        <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet">
        <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
        <link phx-track-static rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link phx-track-static rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link phx-track-static rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link phx-track-static rel="manifest" href="/site.webmanifest">
    </head>
    <body class="bg-gray-50">
        <%= @inner_content %>
    </body>
</html>
